{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper">

        <section class="content-header">
            <h1>{{ paciente.paterno }} {{ paciente.materno }} {{ paciente.nombre }}</h1>
        </section>

        <section class="content">
           <h1>Notas</h1>

            <table>
                <thead>
                <tr>
                    <th>Interrogatorio</th>
                </tr>
                </thead>
                <tbody>
                {% for notas in paciente.notas %}
                        <tr>
                            <td>{{ notas.interrogatorio }}</td>
                            {#<td>{{ notas.CreatedAt|localizeddate('long', 'none', 'es')}}</td>#}
                        </tr>
                {% endfor %}

                </tbody>
            </table>

            <a class="btn btn-warning btn-sm" href="{{ path('nota_new', { 'slug': paciente.slug }) }}" role="button">
                <i class="fa fa-plus" aria-hidden="true"></i> Crear nota</a>

        </section>
    </div>
{% endblock %}
